:root {
  --brand-1: #1877ff;
  --brand-2: #4692ff;
  --brand-3: #bad6ff;
}
.ChatPage,
.MessageContainer,
.Navbar,
.Message .Bubble,
.QuickReplies,
.ChatFooter {
  background-repeat: no-repeat;
  background-size: cover;
}
